  div{
    width: 100%;
    word-spacing: 10px;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: #000000;
  }
 

.image-container {
  position:absolute;
  display: flex;
  width: 150%; /* Adjust as needed */
  max-width: 600px; /* Optional: limits the container's width */
}
.overlay-text {
  position: absolute;
  top:18%;
  left:100%;
  transform: translate(-50%, -50%);

  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: normal;
}


