.float-container {
  text-align: center;
}

.image-container {
  position: relative;
  display: flex;
  margin: 0 auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image-container img {
  width: 100%;
  height: auto;
}

.overlay-text {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: normal;
  white-space: nowrap;
}

.section1 {
  background-color: #f8f8f8;
  padding: 10px;
  margin: 3%;
  color: #333;
  font-size: 1.2rem;
}
.highlight1 {
  color: red;
  font-weight: bold;
}
.button{
  color: rgb(255, 255, 255);
  background-color: blue;
  width: 170px;
  padding: 5px ;
  text-align: center;
}

.section2 {
  background-color: #f8f8f8;
  padding: 10px;
  margin: 3%;
  color: #333;
  font-size: 1.2rem;
}

.section3 {
  background-color: #f8f8f8;
  padding: 10px;
  display: flex;
  margin: 3%;
  color: #333;
  font-size: 1.2rem;
}

.experience-box {
  display: flex;
  flex-direction: column; /* stack vertically */
  align-items:center;     /* center horizontally */
  font-family: Arial, sans-serif;
}

.number {
  font-size: 4rem;
  font-weight: bold;
  color: #000;
  line-height: 1;
}

.label {
  font-size: 1rem;
  color: #666;
}
.section4 {
  background-color: #f8f8f8;
   text-align: center;
  flex-direction: column; /* stack vertically */
  align-items:center;     /* center horizontally */
  padding: 10px;
  display: flex;
  margin: 3%;
  color: #333;
  font-size: 1.2rem;
}
.section5 {
  background-color: #f8f8f8;
  text-align: center;
  padding: 10px;
  display: flex;
  margin: 3%;
  color: #333;
  font-size: 1.2rem;

}
